
/* font-family*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* font-family*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s all;
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --color: #ffaa17;
    --color2: #089fac;
    --black: #0f0f0f;
    --white: #ffffff;
    --gray: #cacaca;
    --light: #cafff8;
    --dBlue: rgb(0, 43, 87);
    --grey: #f1f4f9;
}



/* Heading Tag  */
h1 {
    font-size: 60px !important;

}

h2 {
    font-size: 32px !important;

}

h3 {
    font-size: 25px !important;

}

h4 {
    font-size: 22px !important;
}

h5 {
    font-size: 19px !important;
}

h6 {
    font-size: 16px !important;
}

a{
    text-decoration: none !important; 
    color: var(---color) !important;
}

ul{
    list-style: none;
}
/* //////////////////////////////Navbar section //////////////////////////// */
.main-header {
    background-color: var(--black);
    position: relative;
    z-index:999;
    overflow-x: clip;
    overflow-y: visible
}

.main-header-wapper {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center
}

.site-logo img {
    width: 120px;
    height: 55px;
    object-fit: contain;
}

.sticky-header {
    display: none
}

.main-header-info {
    position: relative
}

.main-header-info:before {
    background-color: var(--black);
    clip-path: polygon(0 0,0% 0%,100% 100%,0% 100%);
    width: 50px;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index:0;
}

.main-header-info:after {
    background-color: var(--color);
    transform: skewX(20deg);
    width: 8px;
    height: 100%;
    content: "";
    position: absolute;
    left: 7px;
    top: 0
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 80px;
    padding-top: 10px;
}

.top-header:before {
    background-color: var(--color);
    content: "";
    width: 6000px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

.top-left {
    display: flex;
    align-items: center;
    column-gap: 20px
}

.top-header-nav li a,.top-left li a,.top-left li {
    font-family: var(--primary-font);
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1
}

.top-left li i {
    font-size: 20px;
    color: var(--black);
    margin-right: 5px
}

.top-right {
    display: inline-flex;
    align-items: center
}

.top-header-nav {
    min-height: 40px;
    display: flex;
    align-items: center;
    margin-right: 40px
}

.top-header-nav li {
    position: relative
}

.top-header-nav li:not(:first-of-type) {
    margin-left: 20px
}

.top-header-nav li:not(:last-of-type):before {
    background-color: #e39c20;
    width: 2px;
    height: 15px;
    content: "";
    position: absolute;
    right: -13px;
    top: 50%;
    transform: translateY(-50%)
}

.header-social-share {
    display: flex;
    align-items: center
}

.header-social-share li a {
    font-size: 16px;
    color: var(--black);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #e39c20
}

.header-social-share li:last-child a {
    border-right: 1px solid #e39c20
}

.site-logo {
    position: relative;
    display: flex;
    align-items: center
}

.nav-menu-wrapper .site-logo {
    display: none
}

.menu-right-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    height: 100%
}

.menu-right-item>div {
    height: 100%;
    display: flex;
    align-items: center
}

.menu-right-item .menu-action-btn {
    color: var(--black);
    cursor: pointer;
    font-size: 25px;
    position: relative
}

@media(max-width: 767px) {
    .menu-action-btn.cart {
        display:none
    }
}

.menu-action-btn.cart i {
    font-size: 28px
}

.menu-action-btn.cart span {
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -8px;
    font-size: 14px;
    font-weight: 500
}

.menu-right-item .default-btn {
    margin-left: 10px
}

@media(max-width: 1170px) {
    .menu-right-item .default-btn {
        padding:20px 25px
    }
}

@media (max-width: 600px){
    .mobile-navigation-menu {
        width: 100%;
    }
}

@media (max-width: 992px){
    .mobile-navigation-menu {
        background-color: #fff;
        border-right: 1px solid #eee;
        position: fixed;
        left: -100%;
        top: 0;
        width: 400px;
        height: 100vh;
        padding: 100px 0 50px;
        box-shadow: var(--shadow-sm);
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all .3s linear;
        z-index: 1;
    }
}

@media (max-width: 992px){
    .main-header-wapper {
        display: grid;
        grid-template-columns: 200px auto;
        align-items: center;
        height: 58px;
    }    
}


.menu-right-item .menu-btn {
    background-color: var(--black);
    color: var(--white);
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center
}

.menu-right-item .menu-btn:hover {
    background-color: var(--black)
}

.menu-right-item .mobile-menu-icon {
    display: none
}

.burger-menu {
    width: 20px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    color: #0f0f0f;
}

.burger-menu.menu-open {
    transform: rotate(-45deg)
}

.line-menu {
    background-color: var(--gray);
    border-radius: 0;
    width: 100%;
    height: 2px
}

.line-menu.line-half {
    width: 50%
}

.line-menu.first-line {
    transition: transform 330ms cubic-bezier(.54,-.81,.57,.57);
    transform-origin: right
}

.menu-open .line-menu.first-line {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -moz-transform: rotate(-90deg) translateX(3px);
    -o-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px)
}

.line-menu.last-line {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(.54,-.81,.57,.57);
    transform-origin: left
}

.menu-open .line-menu.last-line {
    -webkit-transform: rotate(-90deg) translateX(-3px);
    -moz-transform: rotate(-90deg) translateX(-3px);
    -o-transform: rotate(-90deg) translateX(-3px);
    transform: rotate(-90deg) translateX(-3px)
}

@media(min-width: 993px) {
    .nav-menu-wrapper {
        margin-bottom:-30px
    }

    .sticky-header .nav-menu-wrapper {
        margin: 0
    }

    .sticky-header .header-menu-wrap ul {
        padding-left: 0
    }

    .header-menu-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-left: 80px
    }

    .header-menu-wrap:before {
        background-color: var(--white);
        width: 6000px;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1
    }

    .header-menu-wrap ul {
        margin: 0;
        padding: 0;
        list-style: none
    }

    .header-menu-wrap ul li {
        display: inline-block;
        position: relative;
        padding: 30px 0;
        margin-right: 30px
    }

    .header-menu-wrap ul li>a {
        display: block;
        font-family: space grotesk,sans-serif;
        font-size: 16px;
        letter-spacing: -.2px;
        font-weight: 600;
        text-transform: capitalize;
        color: var(--black);
        padding: 0;
        margin: 0;
        line-height: 1;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        position: relative;
        z-index: 1
    }

    .header-menu-wrap li ul {
        background-color: var(--white);
        box-shadow: 0 2px 5px 0 rgb(0 0 0/10%);
        border-radius: 0;
        width: 220px;
        padding: 0;
        display: block;
        position: absolute;
        left: -35px;
        top: 70px;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        -webkit-transform: perspective(300px) rotateX(-18deg);
        transform: perspective(300px) rotateX(-18deg);
        -webkit-transition: all .2s;
        transition: all .2s
    }

    .header-menu-wrap li:hover>ul {
        -webkit-transform: perspective(300px) rotateX(0deg);
        transform: perspective(300px) rotateX(0deg);
        opacity: 1;
        visibility: visible;
        top: 75px;
        z-index: 9
    }

    .header-menu-wrap li li {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        margin: 0;
        border-bottom: 1px solid #ddd;
        text-align: left;
        position: relative;
        transition: all .2s ease-in-out
    }

    .header-menu-wrap li li:last-child {
        margin: 0;
        border-bottom: 0
    }

    .header-menu-wrap li li>a {
        font-family: var(--body-font);
        display: block;
        height: auto;
        line-height: inherit;
        color: var(--black);
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        line-height: 20px;
        letter-spacing: -.2px;
        width: 100%;
        -webkit-font-smoothing: antialiased
    }

    .header-menu-wrap li li:before {
        background-color: #f1f4f9;
        content: "";
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: width .5s linear
    }

    .header-menu-wrap li li:hover:before {
        width: 100%
    }

    .header-menu-wrap li li:after {
        background-color: var(--color);
        width: 3px;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .2s cubic-bezier(.75,0,.175,1)
    }

    .header-menu-wrap li li:hover:after {
        visibility: visible;
        opacity: 1
    }

    .header-menu-wrap li li>a:hover {
        color: var(--black)
    }

    .header-menu-wrap li ul li ul {
        width: 220px;
        position: absolute;
        left: 100%;
        top: 0
    }

    .header-menu-wrap li ul {
        display: block!important
    }

    .sticky-header {
        background-color: var(--white);
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        transform: translateY(-100%);
        z-index: 9
    }

    .sticky-header .top-header {
        display: none
    }

    .sticky-header .main-header-info:after {
        transform: skewX(31.5deg)
    }

    .sticky-header .nav-menu-wrapper .site-logo {
        display: block;
        max-width: 150px
    }

    .sticky-header.sticky-fixed-top {
        transition: transform 1s ease;
        will-change: transform
    }

    .sticky-header.sticky-fixed-top {
        transform: translateY(0);
        box-shadow: 0 10px 60px rgb(0 0 0/10%)
    }

    .sticky-header.sticky-fixed-top .header-menu-wrap .nav-menu>li {
        padding: 32px 0
    }

    .sticky-header.sticky-fixed-top .header-menu-wrap li:hover>ul {
        top: 79px
    }

    .sticky-fixed-top .menu-right-item .menu-btn {
        height: auto;
        padding: 10px 30px
    }
}

@media all and (max-width: 1200px) and (min-width:993px) {
    .main-header-wapper {
        grid-template-columns:150px 1fr
    }

    .header-menu-wrap {
        padding-left: 70px
    }

    .header-menu-wrap ul li {
        margin-right: 20px
    }
}

.mobile-navigation-menu {
    display: none
}

@media(max-width: 992px) {
    .top-header {
        display:none
    }

    .header-menu-wrap {
        position: relative;
        padding: 15px 0
    }

    .header-menu-wrap::before {
        background-color: #fff;
        width: 3000px;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1
    }

    .main-header-info:after {
        transform: skewX(45deg)
    }

    .header-menu-wrap .nav-menu {
        display: none
    }

    .navigation-menu {
        display: none
    }

    .menu-right-item .mobile-menu-icon {
        display: block
    }

    .burger-menu {
        width: 20px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        -webkit-transition: transform 330ms ease-out;
        -moz-transition: transform 330ms ease-out;
        -o-transition: transform 330ms ease-out;
        transition: transform 330ms ease-out
    }

    .menu-open .burger-menu {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .line-menu {
        background-color: #666;
        border-radius: 0;
        width: 100%;
        height: 2px
    }

    .saas-home .line-menu {
        background-color: var(--white)
    }

    .line-menu.line-half {
        width: 50%
    }

    .line-menu.first-line {
        transition: transform 330ms cubic-bezier(.54,-.81,.57,.57);
        transform-origin: right
    }

    .menu-open .line-menu.first-line {
        -webkit-transform: rotate(-90deg) translateX(3px);
        -moz-transform: rotate(-90deg) translateX(3px);
        -o-transform: rotate(-90deg) translateX(3px);
        transform: rotate(-90deg) translateX(3px)
    }

    .line-menu.last-line {
        align-self: flex-end;
        transition: transform 330ms cubic-bezier(.54,-.81,.57,.57);
        transform-origin: left
    }

    .menu-open .line-menu.last-line {
        -webkit-transform: rotate(-90deg) translateX(-3px);
        -moz-transform: rotate(-90deg) translateX(-3px);
        -o-transform: rotate(-90deg) translateX(-3px);
        transform: rotate(-90deg) translateX(-3px)
    }

    #mobile-menu-close {
        position: absolute;
        right: 18px;
        top: 20px;
        width: 60px;
        height: 60px;
        font-size: 40px;
        color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        background: transparent;
    }

    #mobile-menu-close:hover {
        color: var(--color)
    }

    .mobile-navigation-menu {
        background-color: #fff;
        border-right: 1px solid #000000;
        position: fixed;
        left: -100%;
        top: 0;
        width: 400px;
        height: 100vh;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all .3s linear;
        z-index: 9;
    }

    .open-mobile-menu.mobile-navigation-menu {
        left: 0;
        visibility: visible;
        opacity: 1;
        transition: all .3s linear
    }

    .mobile-navigation-menu .main-menu {
        display: block
    }

    .mobile-navigation-menu .dropdown-plus {
        width: 100px;
        height: 49px;
        line-height: 49px;
        position: absolute;
        top: 2px;
        right: 32px;
        cursor: pointer;
        z-index: 1
    }

    .mobile-navigation-menu .dropdown-plus:before,.mobile-navigation-menu .dropdown-plus:after {
        position: absolute;
        content: "";
        top: 21px;
        right: 10px;
        width: 10px;
        height: 2px;
        background-color: var(--black)
    }

    .mobile-navigation-menu .dropdown-plus:after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .mobile-navigation-menu .dropdown-plus.dropdown-open:after {
        display: none
    }

    .mobile-navigation-menu ul {
        padding-left: 0
    }

    .mobile-navigation-menu ul li {
        position: relative;
        margin: 0;
        display: block;
        padding: 0
    }

    .mobile-navigation-menu ul li>a {
        display: block;
        padding: 15px 40px;
        font-family: var(--primary-font);
        color: var(--black);
        font-size: 18px;
        line-height: 1;
        font-weight: 700
    }

    .mobile-navigation-menu ul li:hover>a,.mobile-navigation-menu li li:hover>a {
        color: var(---color)
    }

    .mobile-navigation-menu ul li ul li ul,.mobile-navigation-menu ul li ul {
        background-color: transparent;
        width: 100%;
        opacity: 1;
        padding: 0;
        visibility: visible;
        position: inherit;
        display: none;
        top: inherit;
        left: inherit;
        box-shadow: none
    }

    .mobile-navigation-menu li li {
        padding: 0 20px
    }

    .mobile-navigation-menu li li {
        padding-left: 10px
    }

    .mobile-navigation-menu li li:last-child {
        border-bottom: none
    }

    .mobile-navigation-menu li li>a {
        color: var(--gray);
        font-weight: 600;
        font-size: 18px;
        padding: 14px 20px 14px 40px
    }

    .menu-right-item {
        justify-content: flex-end
    }
}




@media(max-width: 767px) {
    .main-header-info:before {
        height:calc(100% + 1px);
        left: -1px;
        top: -1px
    }

    .main-header-info:after {
        transform: skewX(45deg)
    }
}



@media (max-width: 992px){
    .line-menu.first-line {
        transition: transform 330ms cubic-bezier(.54,-.81,.57,.57);
        transform-origin: right;
    }
    .line-menu {
        background-color: #666;
        border-radius: 0;
        width: 100%;
        height: 2px;
    }
    
    
}


@media(max-width: 600px) {
    .mobile-navigation-menu {
        width:100%
    }
}

.default-btn {
    background: var(--color);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 1px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    padding: 20px 30px;
    position: relative;
    z-index: 1;
}

/* -------------Navbar End------------------- */

/* ///////////Banner-Start///////////////////// */

.hero-section {
    background-image: url(https://html.dynamiclayers.net/te/buildex/assets/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative
}

.hero-section:before {
    background-image: url(https://html.dynamiclayers.net/te/buildex/assets/img/square-pattern.png);
    -webkit-background-size: 20px;
    background-size: 20px;
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .8
}

.hero-img-wrap {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0
}

.hero-bg-half {
    background-image: url(https://html.dynamiclayers.net/te/buildex/assets/img/hero-bg-half.jpg);
    clip-path: polygon(25% 0%,100% 0%,100% 100%,0% 100%);
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.hero-shape {
    background-color: var(--primary-color);
    width: 150px;
    height: 90%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) skew(-14deg,0deg);
    position: relative
}

.hero-shape:before {
    background-image: url(../img/square-pattern.png);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.hero-men {
    background-image: url(../img/hero-men.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    width: 500px;
    height: 570px;
    position: absolute;
    left: -110px;
    bottom: 0
}

.hero-content h4 {
    display: inline-block;
    color: var(--color);
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-left: 55px
}

.hero-content h4:before {
    background-color: var(--color);
    width: 50px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.hero-content h1 {
    color: #fff;
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 68px
}

.hero-content h1 span {
    color: var(--color)
}

.hero-content p {
    color: #ddd
}

@media(max-width: 992px) {
    .hero-section {
        height:500px
    }

    .hero-img-wrap {
        display: none
    }

    .hero-content h1 {
        font-size: 52px
    }
}

@media(max-width: 767px) {
    .hero-section {
        height:400px
    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 42px
    }
}


@media (max-width: 767px){
    .hero-section {
        height: 400px;
    }
}


@media (max-width: 992px){
    .hero-section {
        height: 500px;
    }
}

@media (max-width: 767px){
    .hero-content h1 {
        font-size: 32px !important;
        line-height: 42px !important;
    }
}

@media (max-width: 992px){
    .hero-content h1 {
        font-size: 52px;
    }
}



/* --//////Banner///////////---- */



/* ------//////////////Service Section/////////////---- */

.service-section{
    
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: #F1F4F8;
    position: relative;
}

.service-section::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    filter: contrast(2);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/pics/service/1.png');
    z-index: 0;
}

.services{
    align-items: center;
}

.sevices-heading{
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.sevices-heading h4{
    font-weight: 600;
    color: gray;
}

.sevices-heading h2 {
    font-weight: 700;
    color: var(--color);
    font-size: 40px !important;
    font-style: italic;
}

.sevices-heading h2 span{
    color: var(--dBlue);
    font-weight: 700;
    font-size: 40px !important;
    font-style: normal;
}

/* style3 */
.featured-icon-box.style3 {
    transition: .3s cubic-bezier(.24, .74, .58, 1);
    transform-origin: 0 0 0;
    position: relative;
}

.service-section .col-lg-4:hover:hover {
    transform: translateY(-10px);
}

.featured-icon-box.style3 .featured-content {
    padding: 65px 35px 40px;
    text-align: center;
    position: relative;
    margin: 50px 0 30px;
    z-index: 1;
    background-color: var(--white);
}


.ttm-icon_element-fill.ttm-icon_element-color-skincolor{
    background-color: var(--color);
    z-index: 9;
    position: relative;
}

.featured-icon-box.style3 .ttm-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
}

.featured-icon-box.style3 .ttm-icon i {
    display: inline-block;
    font-size: 30px;
    line-height: 80px;
    color: #fff;
}

.service-section .col-lg-4:hover .style3 .ttm-icon i {
    transform: rotateY(360deg);
}

/* ------//////////////Service Section/////////////---- */


.ttm-row {
    padding: 50px 0;
}

.section-title .title-header:after {
    display: block;
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    background-color: var(--color);
    top: 0;
}


/* post-2 */
.featured-imagebox-post.style2 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

.featured-imagebox-post.style2:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.featured-imagebox-post.style2 .featured-content {
    background-color: var(--gray);
    padding: 40px 72px 30px;
}

.featured-imagebox-post.style2 .ttm-box-post-date i {
    margin-right: 5px;
}

.featured-imagebox-post.style2 .ttm-box-post-date {
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
    right: 0;
    top: -35px;
    display: block;
    height: 35px;
    font-size: 14px;
    line-height: 30px;
    padding: 5px 16px;
}

.featured-imagebox-post.style2 .featured-desc p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.featured-imagebox-post.style2 .featured-content .post-meta {
    padding-bottom: 5px;
}

.section-title h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    color: var(--gray);
    margin-bottom: 5px;
}

.section-title h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    color: var(--gray);
    margin-bottom: 5px;
}

.ttm-textcolor-skincolor{
    color: var(--color);
    font-size: 38px;
    line-height: 45px;
    text-transform: capitalize;
}

.section-title .title-header:after {
    display: block;
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    background-color: var(--color);
    top: 0;
}

.section-title.style2 .title-header, .section-title.style2 .title-desc {
    display: table-cell;
    vertical-align: middle;
}

.section-title.style2 .title-header {
    width: 49.5%;
    padding-right: 30px;
    padding-bottom: 0;
    position: relative;
}
.section-title .title-header {
    position: relative;
    padding-left: 28px;
    margin-bottom: 25px;
}

.featured-imagebox-post.style2 .featured-content {
    background-color: var(--grey);
    padding: 40px 72px 30px;
}

.featured-imagebox, .featured-imagebox .featured-thumbnail {
    position: relative;
    overflow: hidden;
}

.featured-imagebox .featured-thumbnail img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.featured-imagebox:hover .featured-thumbnail img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}


.featured-imagebox-post.style2 {
    transform: translateY(0);
    transition: 0.5s;
    overflow: hidden;
}



.featured-imagebox.featured-imagebox-post.style3 .featured-content {
    padding: 75px 15px 50px 40px;
    background-color: var(--grey);
}

.padding_top15 {
    padding-top: 15px;
}
.featured-imagebox {
    margin: 15px 0;
}

.section-title h2.title {
    font-weight: 800;
    font-size: 40px !important;
    line-height: 46px;
    text-transform: capitalize;
    color: var(--dBlue);
    margin-bottom: 15px;
}

.section-title.style2 .title-desc p {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.ttm-btn.ttm-btn-style-border {
    background-color: transparent;
    border: 2px solid var(--dBlue) !important;
}

.ttm-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: normal;
    padding: 15px 30px 15px 30px;
    background: transparent;
    border: 2px solid var(--dBlue);
    position: relative;
    text-transform: capitalize;
    font-weight: 700;
    overflow: hidden;
    z-index: 6;
    transition: all 0.5s ease 0s;
}

.float-end {
    float: right!important;
}

.ttm-btn.ttm-btn-shape-square {
    border-radius: 0;
}
.ttm-btn.ttm-btn-size-md {
    font-size: 14px;
    padding: 12px 30px 12px 30px;
}

@media (max-width: 991px){
    .section-title.style2 .title-header, .section-title.style2 .title-desc {
        display: block;
    }
}

@media (max-width: 991px){
    .section-title h2.title {
        font-size: 28px;
        line-height: 36px;
    }
    .section-title h2.title {
        font-weight: 700;
        font-size: 26px !important;
        line-height: 26px;
        text-transform: capitalize;
        color: var(--dBlue);
        margin-bottom: 15px;
    }
    .ttm-textcolor-skincolor{
        color: var(--color);
        font-size: 23px;
        line-height: 26px;
        text-transform: capitalize;
    }
    .section-title.style2 .title-header{
        width: 100%;
    }
}

@media (max-width: 767px){
    a.float-end {
        float: none !important;
    }
}

.featured-imagebox.featured-imagebox-post.style3 {
    margin-bottom: 15px;
    display: flex;
}

.padding_left45 {
    padding-left: 45px;
}
.featured-imagebox {
    margin: 15px 0;
}


/* ///////////////////Footer //////////////////////// */



.after-footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.after-footer p{
    margin-bottom: 0;
}

.after-footer p a{
    text-decoration: none;
    color: var(--color2);
}
 

/* Testimonial Section  */

.testimonial-section {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    position: relative;
    background-color: var(--grey);
    padding: 3%;
}


.testimonial-title {
    margin-bottom: 5%;
}

.testimonial-title h2 {
    color: var(--dBlue);
}

.testimonial-title h2 span {
    color: var(--color);
}

.testimonial-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 30px;
    background-color: var(--white);
    margin-top: 3%;
}

.testimonial-content .testimonial-icons i {
    color: gold;
    filter: drop-shadow(0 0 1px var(--black));
}

.testimonial-client {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-client .testimonial-image {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-client .testimonial-image img {
    width: 70px !important;
    height: 70px !important;
    object-fit: contain;
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
}

.testimonial-client i {
    font-size: 50px;
    color: var(--dBlue);
}

.testimonial-client .testimonial-image h3 {
    font-size: 20px !important;
    margin-bottom: 0;
    color: var(--color);
}

.testimonial-client .testimonial-image span {
    color: var(--gray);
    font-size: 15px !important;
}


/* faq  */

.home-faq-section {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 5%;
}

.home-faq-title {
    width: 100%;
    text-align: center;
}

.home-faq-title h4 {
    color: var(--color);
}


.home-faq-title h2 {
    color: var(--dBlue);
    font-weight: 900;
}

.question-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    margin-top: 5%;
    position: relative;
    z-index: 2;
}

.question {
    border-bottom: 1px solid #fff;
    width: 70%;
    background-color: #e6f0f7;
    border-radius: 30px;
    margin-bottom: 3%;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.question button {
    width: 100%;
    height: 100% !important;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 10px 15px;
    text-align: start;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

}

.question p {
    max-height: 0;
    opacity: 0;
    text-transform: initial;
    line-height: 1.5;
    overflow: hidden;
    color: var(--black);
    transition: all 0.6s ease;
}

.question .pa {
    max-height: 0;
    opacity: 0;
    font-weight: 500;
    text-transform: initial;
    line-height: 1.5;
    overflow: hidden;
    margin: 0;
    color: var(--color);
    transition: all 0.6s ease;
}

.d-arrow {
    transition: transform 0.5s ease-in;
    color: #0f0f0f;
}

/*add this class when click*/

.question p.show {
    max-height: 600px !important;
    opacity: 1;
    padding: 0px 15px 30px 15px;
}

.question .pa.show {
    max-height: 600px !important;
    opacity: 1;
    padding: 10px 15px 30px 55px;
}

.rotate {
    transform: rotate(315deg);
    transition: 0.5s !important;
}

.achi-ti {
    background-color: var(--color3);
    color: var(--white);
    padding: 0.5% 1%;
    border-radius: 20px;
}

@media screen and (max-width:768px) {
    .question {
        border-bottom: 1px solid #fff;
        width: 100%;
        background-color: #e6f0f7;
        border-radius: 30px;
        margin-bottom: 3%;
        padding-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}



/* Footer  */

footer {
    width: 100%;
    height: auto;
    padding: 2%;

}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2%;
}

.footer .footer-boxs {
    width: 22%;
    height: auto;
}

.footer-social-links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.footer-social-links a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--l2);
    border-radius: 50%;
}

.footer .footer-boxs p {
    color: var(--black);
    font-size: 15px !important;
    font-weight: 500;
}

.footer .footer-boxs a {
    font-size: 15px !important;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;

}


.footer .footer-boxs h4 {
    margin-bottom: 5% !important;
    font-weight: 700;
    color: var(--color);
}

.footer .footer-boxs h4 span {
    color: var(--dBlue);
}

.footer .footer-boxs ul {
    padding-left: 0;
    list-style-type: none;
}


.footer .footer-boxs .footer-icon {
    width: 100%;
    margin-bottom: 3%;
    color: var(--c2);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .footer-boxs ul li {
    margin-bottom: 3%;
    font-size: 15px !important;
    text-decoration: none;
    font-weight: 500;
}

.footer .footer-boxs .footer-email {
    width: 100%;
    height: auto;
    padding: 2%;
}


.footer .footer-boxs .footer-email form {
    width: 100%;
}

.footer .footer-boxs .footer-email form input {
    width: 100%;
    margin-bottom: 6%;
    border: 1px dotted var(--black);
    padding: 2%;
}





@media screen and (max-width:320px) {

    /* Footer  */

    footer {
        width: 100%;
        height: auto;
        padding: 2%;

    }

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2%;
    }

    .footer .footer-boxs {
        width: 100%;
        height: auto;
    }


}

@media screen and (min-width:321px) and (max-width:425px) {


    /* Footer  */

    footer {
        width: 100%;
        height: auto;
        padding: 2%;

    }

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2%;
    }

    .footer .footer-boxs {
        width: 100%;
        height: auto;
    }


}

@media screen and (min-width:426px) and (max-width:600px) {

    /* Footer  */

    footer {
        width: 100%;
        height: auto;
        padding: 2%;

    }

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2%;
    }

    .footer .footer-boxs {
        width: 100%;
        height: auto;
    }

}

@media screen and (min-width:601px) and (max-width:768px) {

    /* Footer  */

    footer {
        width: 100%;
        height: auto;
        padding: 2%;

    }

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2%;
    }

    .footer .footer-boxs {
        width: 100%;
        height: auto;
    }

}